:root {
  color-scheme: light dark;
}
@media (prefers-color-scheme: light) {
  body {
    color: black;
    background-color: white;
  }
  .active-area {
    border-color: black;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    color: #268bd2;
    background-color: #002b36;
  }
  .active-area {
    border-color: #586e75 ;
    box-shadow: inset 1px 1px 0 0 #073642,
                inset -1px -1px 0 0 #073642;
  }
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  padding: 0px;
  overscroll-behavior: contain;
}

.mid-c { grid-column: 2;}
.top-r { grid-row: 1}
.mid-r { grid-row: 2}
.bot-r { grid-row: 3}
.col   { grid-row: 1/4;}

#pad {
  position: fixed;
  z-index: 0;
  width: 100vw;
  height:100vh;
  display: grid;
  grid-gap: 0.2em;
  grid-template-columns: 0.2fr 0.6fr 0.2fr;
  grid-template-rows: 0.25fr 0.5fr 0.25fr;
}

#connection {
  width: 100vw;
  height: 100vh;
  opacity: 0.2;
  background-color: green;
  z-index: 2;
  position: fixed;
}

#event-log {
  display: none;
  position: fixed;
  z-index: -1;
  user-select: none;
  touch-action: none
}

.north {
  grid-column: 2;
  grid-row: 1;
}
.south {
  grid-column: 2;
  grid-row: 3;
}
.west {
  grid-column: 1;
  grid-row: 2;
}
.east {
  grid-column: 3;
  grid-row: 2;
}
.origin {
  grid-column: 2;
  grid-row: 2;
}

.active-area {
  border-width: 1px;
  border-style: solid;
  border-radius: 0.25rem;
  display: grid;
  align-items: center;
  justify-items: center;
}

.active-area div div {
  display:flex;
}

.active-area div {
  user-select: none;
  width: 0px;
  justify-content: center;
}

.active-area .west {
  transform: rotate(-90deg);
}

.active-area .east {
  transform: rotate(90deg);
}

.grid9by9 {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr
}

.flat-top {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-width: 0px
}

.flat-bottom {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-width: 0px
}

.flat-right {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-right-width: 0px
}

.flat-left {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-left-width: 0px
}

.tap:before, .swipe:before {
  font-family: "Noto Color Emoji", sans-serif;
  content: "☝"
}
.multitap:before, .multiswipe:before {
  font-family: "Noto Color Emoji", sans-serif;
  content: "✌"
}
.flick:before {
  font-family: "Noto Color Emoji", sans-serif;
  content: "⤵️"
}
.multiflick:before {
  font-family: "Noto Color Emoji", sans-serif;
  content: "⤵️⤵️"
}

.tap, .swipe {
  opacity: 1;
}

.multitap, .multiswipe {
  opacity: 0.6;
}

.flick {
  opacity: 0.4;
}

.multiflick {
  opacity: 0.2;
}
