[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=krita_remote
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Krita Remote
Comment=Remote control for Krita
