:root {
  color-scheme: light dark;
}

@media (prefers-color-scheme: light) {
  .active-area {
    color: #2b90d8;
    border-color: #8faaab ;
    box-shadow: inset 1px 1px 0 0 #f1e9d2
  }

  .flick, .multiflick {
    color: #8faaab;
  }
  #connection, #pad, .active-area {
    background-color: #fbf7ef;
  }
  .activated {
    background-color: #f1e9d2   ;
  }
  .col {
    filter: drop-shadow(0 0 8px #8faaab);
  }
}
@media (prefers-color-scheme: dark) {

  .active-area {
    color: #2b90d8;
    border-color: #2b90d8;
    box-shadow: inset 1px 1px 0 0 #073642
  }

  .flick, .multiflick {
    color: #657b83;
  }
  #connection, #pad, .active-area {
    background-color: #002d38;
  }
  .activated {
    background-color: #093946;
  }
  .col {
    filter: drop-shadow(0 0 8px #2b90d8);
  }
}

body {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  overscroll-behavior: contain;
}


.mid-c {
  border-width: 0px;
  grid-column: 2;
}
.top-r {
  border-width: 0px 0px 1px 0px;
  grid-row: 1
}
.mid-r {
  grid-row: 2
}
.bot-r {
  border-width: 1px 0px 0px 0px;
  grid-row: 3
}
.col   {
  border-width: 1px 1px 0px 1px;
  grid-row: 1/4;
}

#pad {
  position: fixed;
  z-index: 0;
  width: 100vw;
  height:100vh;
  display: grid;
  grid-template-columns: 0.15fr 0.7fr 0.15fr;
  grid-template-rows: 0.25fr 0.5fr 0.25fr;
}

#connection {
  color: #2b90d8;
  font-weight: bold;
  font-size: 18pt;
  width: 100vw;
  height: 100vh;
  opacity: 0.9;
  z-index: 2;
  position: fixed;
  justify-content: center;
  align-items: center;
  display:flex;
}

#connection div {
  padding-block: 1em;
}

#connection div div {
  text-align: center;
}

.north {
  grid-column: 2;
  grid-row: 1;
}
.south {
  grid-column: 2;
  grid-row: 3;
}
.west {
  grid-column: 1;
  grid-row: 2;
}
.east {
  grid-column: 3;
  grid-row: 2;
}
.origin {
  grid-column: 2;
  grid-row: 2;
}

.active-area {
  user-select: none;
  touch-action: none;
  border-style: solid;
  display: grid;
  align-items: center;
  justify-items: center;
}

.active-area div div {
  font-stretch: 50%;
  user-select: none;
  touch-action: none;
  text-wrap: nowrap;
  display:flex;
}

.active-area div {
  user-select: none;
  width: 0px;
  justify-content: center;
}

.active-area .west, .col .origin {
  transform: rotate(-90deg);
}

.active-area .east {
  transform: rotate(90deg);
}

.grid9by9 {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr
}

.tap, .swipe, .col .origin {
  filter: drop-shadow(0 0 5px);
}

.swipe, .tap {
  font-size: 16pt;
}

.origin {
  scale: 1.2;
}

.multitap, .multiswipe, .multiflick {
  font-size: 12pt;
  font-style: oblique;
}

.col {
  font-size: 14pt;
  scale: 1.2;
}

.tap, .swipe, .col div {
  font-weight: bold;
}

.swipe, .multiswipe {
  color: #259d94;
}

.flick, .multiflick {
  font-size: 12pt;
  color: #7d80d1;
}

.multiflick {
  font-weight: normal;
}